* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header, header nav, header nav ul {
    position: relative;
    display: flex;
    justify-content: space-between;
    margin: 0.5rem 0.75rem;
    align-items: center;
}


.bottom__ul {
    position: absolute;
    top: 5rem;
    left: 42%;
    display: flex;
    justify-content: space-between;
    list-style: none;
    gap: 2rem;
}

main {
    display: flex;
    flex-direction: column;
    margin-block-start: 5rem;
}

.advert__img {
    margin-inline: auto;
}

.section__top {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-inline: 20rem;
}

figure {
    display: flex;
    justify-content: space-between;
    align-items: top;
    margin-block: 1rem;
}

figure figcaption {
    width: 30ch;
}


