* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header, header nav, header nav ul {
    position: relative;
    display: flex;
    justify-content: space-between;
    margin: 0.5rem 0.75rem;
    align-items: center;
}


.bottom__ul {
    position: absolute;
    top: 5rem;
    left: 42%;
    display: flex;
    justify-content: space-between;
    list-style: none;
    gap: 2rem;
    margin-top: 2rem;
}

.bottom__ul li {
    font-weight: bold;
}

.bottom__ul li:last-child {
    color: red;
}

.burger {
    list-style: none;
}

.login button {
    background: transparent;
    border: none;
    font-weight: bold;
}

main {
    display: flex;
    flex-direction: column;
    margin-block-start: 5rem;
}


.advert__img {
    margin-inline: auto;
}

.section__top {
    display: flex;
    flex-direction: column;
    justify-content: right;
    margin-block-start: 3rem;
    margin-inline-start: 30rem;
}

.section__top span {
    color: red;
}

.section__top .grey {
    color: grey;
} 

.section__top h1 {
    font-size: 2rem;
}

.section__top h1, p {
    width: 30rem;
}

.section__top img {
    margin-inline-end: 20rem;
}

figure {
    display: flex;
    justify-content: space-between;
    align-items: top;
    margin-block: 1rem;
}

figure figcaption {
    margin-right: 1rem;
}

figure figcaption p {
    color: grey;
    width: 10rem;
    height: 10rem;
}


.section__mid {
    display: flex;
    justify-content: space-between;
    margin-inline-start: 30rem;

}

.article__fikdulaest {
    margin: 3rem 4rem;
}

.article__fikdulaest h1 {
    color: red;
}

.article__fikdulaest ul {
   display: flex;
   justify-content: space-between;
   list-style: none;
   margin-top: 3rem;
   gap: 4rem;
}

.grid__section {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
   margin-inline-end: 30rem;
   gap: 3rem;
   margin-block-start: 3rem;
}

.grid__item {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-inline: 2rem;
    width: 20rem;
}