* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header, header nav, header nav ul {
    position: relative;
    display: flex;
    justify-content: space-between;
    margin: 0.5rem 0.75rem;
    align-items: center;
}


.bottom__ul {
    position: absolute;
    top: 5rem;
    left: 42%;
    display: flex;
    justify-content: space-between;
    list-style: none;
    gap: 2rem;
    margin-top: 2rem;
}

.bottom__ul li {
    font-weight: bold;
}

.bottom__ul li:last-child {
    color: red;
}

.burger {
    list-style: none;
}

.login button {
    background: transparent;
    border: none;
    font-weight: bold;
}

main {
    display: flex;
    flex-direction: column;
    margin-inline: auto;
}


.advert__img {
    margin-inline: auto;
}

.section__top {
    display: flex;
    flex-direction: column;
    justify-content: right;
    margin-block-start: 3rem;
    margin-inline-start: 30rem;
}

.section__top span {
    color: red;
}

.section__top .grey {
    color: grey;
} 

.section__top h1 {
    font-size: 2rem;
}

.section__top h1, p {
   margin-inline: auto;
   width: 40rem;
}

.section__top img {
    margin-inline-end: 20rem;
}

figure {
    display: flex;
    justify-content: space-between;
    align-items: top;
    margin-block: 1rem;
}

figure figcaption {
    margin-right: 1rem;
}

figure figcaption p {
    color: grey;
    width: 10rem;
    height: 10rem;
}


.section__mid {
    display: flex;
    justify-content: space-between;
    margin-inline-start: 30rem;

}

.section__mid-right {
    text-align: center;
}

.article__fikdulaest {
    margin: 3rem 4rem;
}

.article__fikdulaest h1 {
    color: red;
}

.article__fikdulaest ul {
   display: flex;
   justify-content: space-between;
   list-style: none;
   margin-top: 3rem;
   gap: 4rem;
}

.grid__section {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
   margin-inline-end: 30rem;
   gap: 3rem;
   margin-block: 3rem 20rem;
}

.grid__item {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-inline: 2rem;
    width: 20rem;
}

.section__gridcomments {
    display: flex;
    justify-content: center;
    gap: 5rem;
}

.left {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.left span, .right span {
    color: red;
    font-weight: bold;
}

.left button {
    background: transparent;
    font-weight: bold;
    border: none;
}

.right span:last-child {
    color: grey;
    font-weight: 400;
}

.right button {
    background: none;
    border: none;
}

.top {
    display: flex;
    justify-content: space-evenly;
    font-weight: bold;
}

.top span {
    color: red;
    margin-inline: 10rem;
}

.top__some {
    display: flex;
    justify-content: center;
    gap: 2rem;
    width: 50rem;
    margin-inline: auto;
    text-align: left;
    margin-block: 5rem;
}

.some__btn {
    display: flex;
    gap: 2rem;
    height: 2rem;
}

.some__btn button {
    width: 4rem;
}

.bottom__some {
    display: flex;
    flex-direction: column;
    max-width: 50rem;
    margin-inline: auto;
    gap: 2rem;
}

.bottom__some button {
    background: rgb(199, 0, 0);
    color: white;
    border: none;
    border-radius: 0.25rem;
    width: 10rem;
    height: 2rem;
    margin-inline: auto;
}

.some__subscribe {
    display: flex;
    gap: 1rem;
    margin-inline: auto;
}

.some__subscribe span {
    color: grey;
}

.some__subscribe a {
   color: black;
}

